<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Click HR</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="https://www.click-hr.com/static/assets/img/favicon.png" rel="icon" />
    <link href="https://www.click-hr.com/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="https://www.click-hr.com/static/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="https://www.click-hr.com/static/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://www.click-hr.com/static/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="https://www.click-hr.com/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link
      href="https://www.click-hr.com/static/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="https://www.click-hr.com/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="https://www.click-hr.com/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="https://www.click-hr.com/static/assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center clickhrheader">
        <!-- <h1 class="logo me-auto"><a href="index.html">Click HR</a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="/signin" class="logo me-auto"
          ><img src="https://www.click-hr.com/static/assets/img/clickhr.png" alt="" class="img-fluid"
        /></a>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto" href="#about">About</a></li>
            <li><a class="nav-link scrollto" href="#services">Services</a></li>

            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            <li><a class="getstarted scrollto" href="/login">Login</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <h1>Unlocking Talent, Empowering Success</h1>
            
            <h5 style="color: aliceblue;">We combine advanced technology with deep industry insights to redefine how companies recruit top talent. Our intuitive platform simplifies hiring while ensuring precision and efficiency in connecting the right candidates with the right opportunities.</h5>
            <div class="d-flex justify-content-center justify-content-lg-start">
              <a href="/login" class="btn-get-started scrollto">TRY NOW</a>
            </div>
          </div>
          <div
            class="col-lg-6 order-1 order-lg-2 hero-img"
            data-aos="zoom-in"
            data-aos-delay="200"
          >
            <img
              src="https://www.click-hr.com/static/assets/img/hero-img.png"
              class="img-fluid animated"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->
    <!-- ======= About Us Section ======= -->
    <section class="about">
      <div class="container" data-aos="fade-up">
        <div class="row content">
          <div class="col-lg-12 d-flex justify-content-center ">
            <div id="carouselExampleSlidesOnly" class="carousel slide w-75" data-ride="carousel">
              <div class="carousel-inner" style="
              filter: drop-shadow(0 0 40px #4372b8);
              border-radius: 10px;
              
            "
            >
                <div class="carousel-item active">
                  <img class="d-block w-100"

              src="https://www.click-hr.com/static/assets/img/cccc.png"
              alt="ss"


            />
                </div>
                <div class="carousel-item ">
                  <img class="d-block w-100" src="https://www.click-hr.com/static/assets/img/process2.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="https://www.click-hr.com/static/assets/img/process3.png" alt="Third slide">
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </section>
    <!-- End About Us Section -->
    <!-- our process start -->

    <!-- Process 1 - Bootstrap Brain Component -->
    <section class="py-3 py-md-5 py-xl-8">
      <div class="section-title">
        <h2>HOW IT WORKS</h2>
      </div>
      <div class="container" data-aos="fade-up" >
        <div class="row gy-5 gy-lg-0 align-items-lg-center">
          <div class="col-12 col-lg-6">
            <img
              class="img-fluid rounded"
              loading="lazy"
              src="https://www.click-hr.com/static/assets/img/process2.png"
              alt=""
            />
          </div>

          <div class="col-12 col-lg-6">
            <div class="row justify-content-xl-end">
              <div class="col-12 col-xl-11">
                <!-- <h2 class="h3 mb-3">Sign in as Organization or Company</h2> -->

                <div class="d-flex mb-4">
                  <div>
                    <span
                      style="background: #4372b8"
                      class="btn btn-primary bsb-btn-circle pe-none me-4"
                      >1</span
                    >
                  </div>
                  <div>
                    <h4 class="mb-3">Sign in as Organization or Company</h4>
                    <p class="mb-0 text-secondary">
                      Simply log in to the ClickHR website using your
                      organization's credentials to access your personalized
                      dashboard, where you can manage recruitment activities
                      effortlessly.
                    </p>
                  </div>
                </div>
                <div class="d-flex mb-4">
                  <div>
                    <span
                      style="background: #4372b8"
                      class="btn btn-primary bsb-btn-circle pe-none me-4"
                      >2</span
                    >
                  </div>
                  <div>
                    <h4 class="mb-3">
                      Login as Admin or User and Access All Features
                    </h4>
                    <p class="mb-0 text-secondary">
                      Easily expand your workforce by navigating to the team
                      management section within the dashboard, where you can add
                      new members with specific roles and credentials, ensuring
                      seamless collaboration.
                    </p>
                  </div>
                </div>
                <div class="d-flex">
                  <div>
                    <span
                      style="background: #4372b8"
                      class="btn btn-primary bsb-btn-circle pe-none me-4"
                      >3</span
                    >
                  </div>
                  <div>
                    <h4 class="mb-3">Finalize Product</h4>
                    <p class="mb-0 text-secondary">
                      Log in with your designated credentials to unlock access
                      to a comprehensive suite of features, including candidate
                      management, job postings, and reporting tools, tailored to
                      your role within the organization.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- our process end -->

    <main id="main">
      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>About Us</h2>
            <h5 class="mb-3">
              Welcome to ClickHR – Your Trusted Partner in Recruitment
              Excellence!
            </h5>
          </div>

          <div class="row content d-flex align-items-center">
            <div class="col-lg-6">
              <h4 class="mb-3">Our Mission</h4>
              <p>
                ClickHR, we're on a mission to revolutionize the recruitment
                industry by leveraging cutting-edge technology and a commitment
                to excellence. Founded with a vision to simplify and streamline
                the hiring process, ClickHR has quickly become a trusted partner
                for organizations seeking top talent and candidates looking for
                their next career opportunity.
              </p>
              <!-- <ul>
                <li>
                  <i class="ri-check-double-line"></i> Ullamco laboris nisi ut
                  aliquip ex ea commodo consequat
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Duis aute irure dolor in
                  reprehenderit in voluptate velit
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Ullamco laboris nisi ut
                  aliquip ex ea commodo consequat
                </li>
              </ul> -->
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <img
                src="https://www.click-hr.com/static/assets/img/svg/ahad.svg"
                class="w-75 h-75"
                alt=""
                srcset=""
              />
            </div>
          </div>
        </div>
      </section>
      <!-- End About Us Section -->
      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="row content d-flex align-items-center">
            <div class="col-lg-6">
              <img
                src="https://www.click-hr.com/static/assets/img/svg/ahadabdul.svg"
                class="w-75 h-75"
                alt=""
                srcset=""
              />
              <!-- <video  autoplay loop muted controls="false" class="w-75 h-75" controls>
              <source src="assets/img/video/ahadabd.mp4" type="video/mp4">
              
              
            </video> -->
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <p>
                Our team is dedicated to providing innovative solutions tailored
                to meet the unique needs of each client. With a deep
                understanding of the recruitment landscape and a passion for
                driving success, we empower companies to make informed hiring
                decisions and connect with the best candidates in the market.
              </p>
<!--              <a href="#" class="btn-learn-more">Learn More</a>-->
            </div>
          </div>
        </div>
      </section>
      <!-- End About Us Section -->

      <!-- ======= Services Section ======= -->
      <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Services</h2>
            <p>
              Discover a suite of innovative services at ClickHR, designed to
              streamline recruitment processes, enhance candidate management,
              and empower organizations to make informed hiring decisions.
            </p>
          </div>

          <div class="row">
            <div
              class="col-xl-3 col-md-6 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div class="icon-box">
                <div class="icon"></div>
                <h4>
                  <a href=""
                    ><i class="bi bi-ui-checks"></i> Candidate Management</a
                  >
                </h4>
                <p>
                  Comprehensive tools for managing candidate applications,
                  updates, and placements effectively.
                </p>
              </div>
            </div>

            <div
              class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="icon-box">
                <div class="icon"></div>
                <h4>
                  <a href=""
                    ><i class="bx bx-file"></i> Job Posting and Distribution</a
                  >
                </h4>
                <p>
                  Capabilities for creating, distributing, and managing job
                  postings across multiple platforms with detailed tracking.
                </p>
              </div>
            </div>

            <div
              class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div class="icon-box">
                <div class="icon"></div>
                <h4>
                  <a href=""
                    ><i class="bx bx-tachometer"></i> Advanced Reporting Tools</a
                  >
                </h4>
                <p>
                  Access to detailed analytics and visual representations for
                  tracking recruitment activities and evaluating performance
                  metrics.
                </p>
              </div>
            </div>

            <div
              class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
              data-aos="zoom-in"
              data-aos-delay="400"
            >
              <div class="icon-box">
                <div class="icon"></div>
                <h4>
                  <a href=""
                    ><i class="bx bx-layer"></i> Role-Based Access Control</a
                  >
                </h4>
                <p>
                  Enhanced security with tailored access permissions for
                  different user roles, ensuring operational efficiency and data
                  integrity.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Services Section -->

      <!-- ======= Cta Section ======= -->
      <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">
          <div class="row">
            <div class="col-lg-9 text-center text-lg-start">
              <h3>Empower Your Recruitment - Where Technology Meets Talent</h3>
              <p>
                Our platform is designed to provide recruiters, managers, and administrators with a dynamic interface equipped with robust functionalities such as role-based access, advanced reporting, and real-time updates.


              </p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
              <a class="cta-btn align-middle" href="/login">Try Now</a>
            </div>
          </div>
        </div>
      </section>
      <!-- End Cta Section -->

      <!-- ======= Pricing Section ======= -->
      <!-- <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Pricing</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>Free Plan</h3>
              <h4><sup>$</sup>0<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
                <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
                <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                <li class="na"><i class="bx bx-x"></i> <span>Pharetra massa massa ultricies</span></li>
                <li class="na"><i class="bx bx-x"></i> <span>Massa ultricies mi quis hendrerit</span></li>
              </ul>
              <a href="#" class="buy-btn">Get Started</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box featured">
              <h3>Business Plan</h3>
              <h4><sup>$</sup>29<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
                <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
                <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
                <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>
              </ul>
              <a href="#" class="buy-btn">Get Started</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>Developer Plan</h3>
              <h4><sup>$</sup>49<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
                <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
                <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
                <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>
              </ul>
              <a href="#" class="buy-btn">Get Started</a>
            </div>
          </div>

        </div>

      </div>
    </section>End Pricing Section -->

      <!-- ======= Frequently Asked Questions Section ======= -->
      <section id="faq" class="faq section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Frequently Asked Questions</h2>
            <p>
              Explore our Frequently Asked Questions to find answers to common queries about ClickHR's services, features, security measures, customization options, and support offerings.
            </p>
          </div>

          <div class="faq-list">
            <ul>
              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-help-circle icon-help"></i>
                <a
                  data-bs-toggle="collapse"
                  class="collapse"
                  data-bs-target="#faq-list-1"
                  >What is ClickHR and how does it work?
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="faq-list-1"
                  class="collapse show"
                  data-bs-parent=".faq-list"
                >
                  <p>
                    ClickHR is a web-based platform designed to streamline recruitment processes for staffing companies. It works by integrating with external data sources, such as Ionos webmail and Indeed, to automate candidate management, job postings, and reporting.
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-help-circle icon-help"></i>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-list-2"
                  class="collapsed"
                  >What features does ClickHR offer for recruiters?
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="faq-list-2"
                  class="collapse"
                  data-bs-parent=".faq-list"
                >
                  <p>
                    ClickHR offers recruiters a range of features including candidate management tools, job posting and distribution capabilities, advanced reporting and analytics, role-based access control, and integrated email notifications.
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-help-circle icon-help"></i>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-list-3"
                  class="collapsed"
                  >How does ClickHR ensure data security and privacy?
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="faq-list-3"
                  class="collapse"
                  data-bs-parent=".faq-list"
                >
                  <p>
                    ClickHR implements robust security measures such as password encryption, role-based access control, and secure data handling practices to ensure the confidentiality and integrity of user data.
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="400">
                <i class="bx bx-help-circle icon-help"></i>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-list-4"
                  class="collapsed"
                  >Can ClickHR be customized to suit specific organizational needs?<i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="faq-list-4"
                  class="collapse"
                  data-bs-parent=".faq-list"
                >
                  <p>
                    Yes, ClickHR's user interface is customizable to meet the specific needs of different users within an organization. Additionally, role-based access control allows administrators to tailor permissions and functionalities according to user roles.
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="500">
                <i class="bx bx-help-circle icon-help"></i>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-list-5"
                  class="collapsed"
                  >What support options are available for ClickHR users?
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="faq-list-5"
                  class="collapse"
                  data-bs-parent=".faq-list"
                >
                  <p>
                    ClickHR provides comprehensive support options including online documentation, tutorials, and user guides. Additionally, users can access technical support via email or phone for assistance with any issues or questions they may have.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <!-- End Frequently Asked Questions Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Contact</h2>
            <p>
              Reach out to us at ClickHR for any inquiries, support requests, or partnership opportunities.
            </p>
          </div>

          <div class="row">
            <div class="col-lg-5 d-flex align-items-stretch">
              <div class="info">
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Location:</h4>
                  <p>4370 Steeles Ave W, Woodbridge, ON L4L 4Y4, Canada</p>
                </div>

                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>clickhr@click-hr.com</p>
                </div>

                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>+1 647-930-0988</p>
                </div>

                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2037.3551243895697!2d-79.56529412826364!3d43.76756010025403!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b3aab979f3fa9%3A0x5a98fb9ccb33c489!2s4370%20Steeles%20Ave%20W%2C%20Woodbridge%2C%20ON%20L4L%204Y4%2C%20Canada!5e0!3m2!1sen!2s!4v1714043104871!5m2!1sen!2s"
                  frameborder="0"
                  style="border: 0; width: 100%; height: 290px"
                  allowfullscreen
                ></iframe>
              </div>
            </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
              <form
                action="forms/contact.php"
                method="post"
                role="form"
                class="php-email-form"
              >
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="name">Your Name</label>
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      required
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="name">Your Email</label>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      required
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="name">Subject</label>
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="name">Message</label>
                  <textarea
                    class="form-control"
                    name="message"
                    rows="10"
                    required
                  ></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">
                    Your message has been sent. Thank you!
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit">Send Message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 footer-contact">
              <a href="/signin" class="logo me-auto"><img src="https://www.click-hr.com/static/assets/img/clickhr.png" alt="" style="width: 47%;" class="img-fluid" /></a>
              <p>
                4370 Steeles Ave <br />
                W, Woodbridge, ON L4L 4Y4,<br />
                Canada <br />

                <strong>Phone:</strong> +1 647-930-0988<br />
                <strong>Email:</strong> clickhr@click-hr.com<br />
              </p>
            </div>

            <div class="col-lg-4 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Home</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">About us</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Services</a>
                </li>
               
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="/privacypolicy">Privacy policy</a>
                </li>
              </ul>
            </div>

            <!-- <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Web Design</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Web Development</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Product Management</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Marketing</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Graphic Design</a>
                </li>
              </ul>
            </div> -->

            <div class="col-lg-4 col-md-6 footer-links">
              <!-- <h4>Our Social Networks</h4> -->
              <h4>
                Contact Us
              </h4>
              <div class="social-links mt-3">
                <a href="tel:+1 647-930-0988" class="twitter"><i class="bi bi-telephone"></i></a>
                <a href="mailto:clickhr@click-hr.com" class="facebook"><i class="bi bi-envelope-at"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container footer-bottom clearfix">
        <div class="copyright">
          &copy; Copyright <strong><span>Click HR</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
          Developed by
          <a href="https://bootstrapmade.com/">Infiniti Solutions</a>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="https://www.click-hr.com/static/assets/vendor/aos/aos.js"></script>
    <script src="https://www.click-hr.com/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://www.click-hr.com/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="https://www.click-hr.com/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="https://www.click-hr.com/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="https://www.click-hr.com/static/assets/vendor/waypoints/noframework.waypoints.js"></script>

    <!-- Template Main JS File -->
    <script src="https://www.click-hr.com/static/assets/js/main.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>

<script>
      currenturl = document.URL
      params =new URLSearchParams(location.search);
      email=params.get('email')
      password =params.get('password')
      if (email && password) {
            fetch('/directlogin', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ email: email, password: password}), // Include the 'id' parameter here
            })
                .then((response) => response.json())
                .then((data) => {
                    if (data.message) {
                        console.log(data)
                        window.location.href = "{{ url_for('index') }}";
                    }
                    console.log(data);
                })
                .catch((error) => {
                   console.log(error)
                });
        }

         else {
            console.error("Email or password missing in URL");
       }
      console.log(currenturl, params)

</script>
</html>
