<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Dashboard</title>
    <link rel="stylesheet" href="https://www.click-hr.com/static/style.css">
    <script src="https://www.click-hr.com/static/js/script.js"></script>
    <link rel="icon" href="https://www.click-hr.com/static/img/titleicon.png">

</head>
<body class="">
    {% block content %}{% endblock %}
    {% include 'footer.html' %}

</body>
</html>
